*{
  background-color: rgb(127, 203, 229);
}
h1{
  margin-left: auto;
 margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%; /* To make it circular */
  background-color: #eef2f6; /* Background color of the circle */
  color: rgb(1, 1, 1); /* Text color */
  font-size: 21px; /* Font size of the text */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}



